<a href="https://colab.research.google.com/github/FabioSicca/Organizacion-de-datos/blob/main/Pandas3_TP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

22) Elija su lugar favorito en el mundo y tome su latitud y longitud, ¿cuál es
el título de la página de wikipedia más cercana? (⭐⭐)

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
geo_tags = pd.read_csv('/content/drive/MyDrive/Wikipedia dataset/geo_tags.csv')
contents = pd.read_csv('/content/drive/MyDrive/Wikipedia dataset/contents.csv')

Mounted at /content/drive

Mi lugar favorito en el mundo es en Luján (mi ciudad), donde compartí lindos momentos de mi vida con familia y amigos.

In [ ]:
favourite_place = (-34.59262914852529, -59.12672912409699)

Elimino las filas que contienen NaNs en latitud o longitud de los df, me quedo con aquellas columnas con las que me interesa trabajar y renombro las columnas para poder mergear contents con geo_tags por page_id y quedarme sólo con aquellos que aparecen en ambos

In [ ]:
geo_tags = geo_tags[["gt_page_id", "gt_lat", "gt_lon"]]
geo_tags = geo_tags.dropna(subset=['gt_lat', 'gt_lon'])
geo_tags_filtered = geo_tags.rename(columns={"gt_page_id": "page_id"})

contents = contents[["title", "id"]]
contents_filtered = contents.rename(columns={"id": "page_id"})

merged_info = contents_filtered.merge(geo_tags_filtered)
merged_info = merged_info.set_index("page_id")
merged_info

                         title     gt_lat      gt_lon
page_id
7                      Andorra  42.500000    1.500000
10                   Argentina -34.599722  -58.381944
15        Geografía de Andorra  42.506111    1.522222
26                      Anoeta  43.162222   -2.070000
39                  Afganistán  34.532778   69.165833
...                        ...        ...         ...
10010550             Kumarghat  24.158333   92.029722
10010559          Río Makarora -44.316667  169.166667
10010567             Panisagar  24.250000   92.140000
10010581             Dewanpasa  24.360639   92.139850
10010600              Fatikroy  24.010639   92.001289

[537305 rows x 3 columns]

Calculo la distancia entre mi lugar favorito y todas las filas del df, me quedo con la mínima y obtengo el id

In [ ]:
merged_info["distance"] = (merged_info["gt_lat"]-favourite_place[0])**2 + (merged_info["gt_lon"]-favourite_place[1])**2
id_closest_place = merged_info.distance.idxmin()
print(id_closest_place)

4186370

In [ ]:
closest_place = merged_info.loc[id_closest_place]["title"]
closest_place

'Estación Basílica'

La página más cercana de Wikipedia a mi lugar favorito es la 'Estación Basílica'

# **Código en limpio:**

In [ ]:
favourite_place = (-34.59262914852529, -59.12672912409699)

geo_tags = geo_tags[["gt_page_id", "gt_lat", "gt_lon"]]
geo_tags = geo_tags.dropna(subset=['gt_lat', 'gt_lon'])
geo_tags_filtered = geo_tags.rename(columns={"gt_page_id": "page_id"})

contents = contents[["title", "id"]]
contents_filtered = contents.rename(columns={"id": "page_id"})

merged_info = contents_filtered.merge(geo_tags_filtered)
merged_info = merged_info.set_index("page_id")

merged_info["distance"] = (merged_info["gt_lat"]-favourite_place[0])**2 + (merged_info["gt_lon"]-favourite_place[1])**2
id_closest_place = merged_info.distance.idxmin()

closest_place = merged_info.loc[id_closest_place]["title"]
print(closest_place)

Estación Basílica