<a href="https://colab.research.google.com/github/FabioSicca/Organizacion-de-datos/blob/main/Pandas1_TP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

P1) Para el usuario que más versiones actuales de contenido de wikipedia editó, calcule la fecha promedio, mínima y máxima en que lo hizo. (⭐)

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
contenidos = pd.read_csv('/content/drive/MyDrive/Wikipedia dataset/contents.csv')

Selecciono las columnas del df que me interesan

In [ ]:
cont_reducido = contenidos[["revisor_id", "revision_id", "revision_timestamp"]]
cont_reducido

         revisor_id  revision_id    revision_timestamp
0         1708233.0    132533307  2021-01-19T18:40:34Z
1               NaN    138035057  2021-08-31T18:27:01Z
2         4642283.0    137966826  2021-08-28T17:17:54Z
3         5338508.0    137986788  2021-08-29T17:16:00Z
4         3615366.0    130869554  2020-11-12T19:56:15Z
...             ...          ...                   ...
4132159    474907.0    138052016  2021-09-01T12:06:00Z
4132160   4032712.0    138051859  2021-09-01T11:52:28Z
4132161    158577.0    138051902  2021-09-01T11:57:06Z
4132162   5429951.0    138051961  2021-09-01T12:01:38Z
4132163     86975.0    138051985  2021-09-01T12:03:14Z

[4132164 rows x 3 columns]

Encuentro el valor que más aparece en 'revisor_id'

In [ ]:
valor_mas_comun = cont_reducido['revisor_id'].value_counts().idxmax()
print(valor_mas_comun)

5045504.0

Filtro el df para quedarme con las versiones que fueron editadas por el usuario que más editó

In [ ]:
df_filtrado = cont_reducido[cont_reducido['revisor_id'] == valor_mas_comun]
df_filtrado

         revisor_id  revision_id    revision_timestamp
62        5045504.0    120644883  2019-10-22T15:56:32Z
69        5045504.0    120305819  2019-10-14T20:25:37Z
78        5045504.0    120848411  2019-10-29T08:31:45Z
108       5045504.0    120849147  2019-10-29T08:56:56Z
119       5045504.0    135204649  2021-05-01T16:27:24Z
...             ...          ...                   ...
4115300   5045504.0    138002279  2021-08-30T08:14:35Z
4115680   5045504.0    138002271  2021-08-30T08:14:13Z
4115959   5045504.0    138002260  2021-08-30T08:13:11Z
4116758   5045504.0    138002306  2021-08-30T08:16:43Z
4117142   5045504.0    138002266  2021-08-30T08:13:41Z

[417275 rows x 3 columns]

Uso pd.to_datetime porque mean no estaba calculando el promedio

In [ ]:
df_filtrado["revision_timestamp"] = pd.to_datetime(df_filtrado["revision_timestamp"])
df_filtrado

<ipython-input-8-d4b0de515acd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtrado["revision_timestamp"] = pd.to_datetime(df_filtrado["revision_timestamp"])

         revisor_id  revision_id        revision_timestamp
62        5045504.0    120644883 2019-10-22 15:56:32+00:00
69        5045504.0    120305819 2019-10-14 20:25:37+00:00
78        5045504.0    120848411 2019-10-29 08:31:45+00:00
108       5045504.0    120849147 2019-10-29 08:56:56+00:00
119       5045504.0    135204649 2021-05-01 16:27:24+00:00
...             ...          ...                       ...
4115300   5045504.0    138002279 2021-08-30 08:14:35+00:00
4115680   5045504.0    138002271 2021-08-30 08:14:13+00:00
4115959   5045504.0    138002260 2021-08-30 08:13:11+00:00
4116758   5045504.0    138002306 2021-08-30 08:16:43+00:00
4117142   5045504.0    138002266 2021-08-30 08:13:41+00:00

[417275 rows x 3 columns]

Calculo la fecha promedio

In [ ]:
df_filtrado.revision_timestamp.mean()

Timestamp('2019-12-26 14:09:41.204901120+0000', tz='UTC')

Calculo la fecha minima

In [ ]:
df_filtrado.revision_timestamp.min()

Timestamp('2018-10-16 11:56:33+0000', tz='UTC')

Calculo la fecha maxima

In [ ]:
df_filtrado.revision_timestamp.max()

Timestamp('2021-08-30 08:16:43+0000', tz='UTC')